cfm_webservice/src/main/java/com/qhjf/cfm/clients/webservice.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="www.seeyon.com"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://metlife.services.v3x.seeyon.com"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="www.seeyon.com">
<wsdl:documentation>
This is the test webservice for Spring/Axis2 Integration
</wsdl:documentation>
<wsdl:types>
<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://metlife.services.v3x.seeyon.com">
<xs:element name="pushStatus">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="token" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="xmlString" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="pushStatusResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
</wsdl:types>
<wsdl:message name="pushStatusRequest">
<wsdl:part name="parameters" element="ns:pushStatus"/>
</wsdl:message>
<wsdl:message name="pushStatusResponse">
<wsdl:part name="parameters" element="ns:pushStatusResponse"/>
</wsdl:message>
<wsdl:portType name="metlifeApplyPayServicePortType">
<wsdl:operation name="pushStatus">
<wsdl:input message="axis2:pushStatusRequest" wsaw:Action="urn:pushStatus"/>
<wsdl:output message="axis2:pushStatusResponse" wsaw:Action="urn:pushStatusResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="metlifeApplyPayServiceSoap11Binding" type="axis2:metlifeApplyPayServicePortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="pushStatus">
<soap:operation soapAction="urn:pushStatus" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="metlifeApplyPayServiceSoap12Binding" type="axis2:metlifeApplyPayServicePortType">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="pushStatus">
<soap12:operation soapAction="urn:pushStatus" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="metlifeApplyPayServiceHttpBinding" type="axis2:metlifeApplyPayServicePortType">
<http:binding verb="POST"/>
<wsdl:operation name="pushStatus">
<http:operation location="metlifeApplyPayService/pushStatus"/>
<wsdl:input>
<mime:content type="text/xml" part="pushStatus"/>
</wsdl:input>
<wsdl:output>
<mime:content type="text/xml" part="pushStatus"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="metlifeApplyPayService">
<wsdl:port name="metlifeApplyPayServiceHttpSoap11Endpoint" binding="axis2:metlifeApplyPayServiceSoap11Binding">
<soap:address location="http://10.164.26.25:80/seeyon/services/metlifeApplyPayService.metlifeApplyPayServiceHttpSoap11Endpoint/"/>
</wsdl:port>
<wsdl:port name="metlifeApplyPayServiceHttpSoap12Endpoint" binding="axis2:metlifeApplyPayServiceSoap12Binding">
<soap12:address location="http://10.164.26.25:80/seeyon/services/metlifeApplyPayService.metlifeApplyPayServiceHttpSoap12Endpoint/"/>
</wsdl:port>
<wsdl:port name="metlifeApplyPayServiceHttpEndpoint" binding="axis2:metlifeApplyPayServiceHttpBinding">
<http:address location="http://10.164.26.25:80/seeyon/services/metlifeApplyPayService.metlifeApplyPayServiceHttpEndpoint/"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>